


<body style="box-sizing: border-box; background-color: #DA0037; padding-top: 30px; padding-bottom: 200px;">

    <div>

        <div style="width: 65%; margin: auto; margin-top: 40px; margin-bottom: 100px;">
            <div style="margin-bottom: 30px; display: flex;" class="media">
                <div class="media-body">
                    
                    <h2 style="color: ivory;" class="mt-0 mb-1">Book your tickets,</h2>
                  <span style="font-size: 21px; font-weight: bold;">
                    Below listed are some of the  movies for which you can book tickets using our platform. Go ahead and book any number of available seats by clicking the <br>
                     What are you waiting? for scroll!
                  </span>
                </div>
                <img style="height: 120px; margin-left: 20px;" class="ml-3" src="assets/Movies/clapperboard.png" alt="">
              </div>
            <div style="height: 400px; width: 900px; border: 10px solid #F9F9F9;" id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div style="height: 400px; width: 891px;" class="carousel-inner">
                  <div class="carousel-item slides">
                    <img style="width: 70%;" class="d-block w-100" src="assets/Movies/starwars.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item slides">
                    <img class="d-block w-100" src="assets/Movies/army.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item slides">
                    <img class="d-block w-100" src="assets/Movies/it.jpg" alt="Third slide">
                  </div>
                  <div class="carousel-item active slides">
                    <img class="d-block w-100" src="assets/Movies/lalaland.jpg" alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only"><!-- Next --></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only"><!-- Previous --></span>
                </a>
              </div>
        </div>



    </div>

    <hr style="width: 400px; margin: auto; margin-top:100px; margin-bottom:100px; border-top: 40px dotted rgb(255, 255, 255); background-color: #DA0037;">


    <div style="display: flex; justify-content: space-between; width: 80%; margin:auto; margin-bottom: 100px;">

        <div class="card cardClass" style="width: 18rem; border: 4px solid #F9F9F9; border-radius: 8px;">
            <img class="card-img-top" src="assets/Movies/cardimg1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">STAR WARS</h5>
              <p class="card-text"> American epic space opera multimedia franchise created by George Lucas</p>
              <a routerLink="/Book-ticket"class="btn btn-dark">BOOK</a>
            </div>
          </div>

          <div class="card cardClass" style="width: 18rem;border: 4px solid #F9F9F9; border-radius: 8px;">
            <img class="card-img-top" src="assets/Movies/cardimg5.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">INTERSTELLAR</h5>
              <p class="card-text"> Epic science fiction drama film co-written, directed and produced by Christopher Nolan.</p>
              <a routerLink="/Book-ticket" class="btn btn-dark">BOOK</a>
            </div>
          </div>

          <div class="card cardClass" style="width: 18rem; border: 4px solid #F9F9F9; border-radius: 8px;">
            <img class="card-img-top" src="assets/Movies/cardimg3.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">GAME OF THRONES</h5>
              <p class="card-text"> American fantasy drama television series created by David Benioff and D. B. Weiss for HBO.</p>
              <a routerLink="/Book-ticket" class="btn btn-dark">BOOK</a>
            </div>
          </div>
    </div>





    <div style="display: flex; justify-content: space-between; width: 80%; margin:auto; margin-bottom: 170px;">

        <div class="card cardClass" style="width: 18rem; border: 4px solid #F9F9F9; border-radius: 8px;">
            <img class="card-img-top" src="assets/Movies/cardimg4.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">REVENANT</h5>
              <p class="card-text"> American epic Revisionist Western film directed by Alejandro González Iñárritu. ... The film stars Leonardo DiCaprio and Tom Hardy.</p>
              <a routerLink="/Book-ticket" class="btn btn-dark">BOOK</a>
            </div>
          </div>

          <div class="card cardClass" style="width: 18rem; border: 4px solid #F9F9F9; border-radius: 8px;">
            <img class="card-img-top" src="assets/Movies/cardimg7.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">NFS MOST WANTED</h5>
              <p class="card-text"> action thriller film directed and co-edited by Scott Waugh and written by George and John Gatins..</p>
              <a routerLink="/Book-ticket" class="btn btn-dark">BOOK</a>
            </div>
          </div>

          <div class="card cardClass" style="width: 18rem; border: 4px solid #F9F9F9; border-radius: 8px;">
            <img class="card-img-top" src="assets/Movies/cardimg6.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">GRAVITY</h5>
              <p class="card-text">science fiction thriller film directed by Alfonso Cuarón, who also co-wrote, co-edited, and produced the film..</p>
              <a routerLink="/Book-ticket" class="btn btn-dark">BOOK</a>
            </div>
          </div>
    </div>

    

</body>
