body{
    background-image: url(./bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
    
    /* opacity: 0%; */
    
    /* font-family: 'Kanit', sans-serif;
font-family: 'Roboto', sans-serif; */
}

.main{
    max-width: 80%; 
    padding: 50px; 
    border-radius:8px; 
    margin: auto; 
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
}

.btn1{
    height: 70px; 
    width: 150px; 
    border-radius: 3px; 
    margin-right: 40px;
    font-size: 30px;
}

.btn2{
    height: 70px; 
    width: 150px;  
    border-radius: 3px;
    font-size: 30px;
    
}

