<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" type="image/png" href="./favicon.png">
    <title>Login</title>

</head>
<body style="box-sizing: border-box; background-color: #DA0037; height: 800px;">
    


<div style="display: flex; justify-content: center; flex-grow: 1; max-width: 90%; margin: auto;">



<div>
  <img style="height: 300px; flex-grow: 1; margin-top: 100px;" src="assets/Login/PickMyShow.png" alt="">
</div>
    
    <div style="max-width: 100%;margin-top: 100px; margin-left: 100px; border-left: 5px solid #ddd; padding: 40px;">

      
        <h3 style="color: lightcyan; margin-bottom: 30px;">LOGIN</h3>

    
    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon3">Username</span>
            </div>
            <input placeholder="Username ( Email )" type="email" class="form-control" name="email">
            
        </div>
        
       
          <!-- <div class="form-group"> -->
            

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">Password</span>
                </div>
                <input placeholder="Password" type="password" class="form-control" id="basic-url" aria-describedby="basic-addon3">
              </div>
              
              
              
              
              <button style="border: 2px solid #ddd; width: 140px; margin-bottom: 15px;" type="submit" class="btn btn-danger" routerLink="/MovieList">Login</button>
              <p style="color: #ddd;">New user? <a style="text-decoration: underline; color: floralwhite;" routerLink="/Registration">Register</a></p>
            </form>
    </div>

  </div>
    

 




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
